p {
    color: antiquewhite;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucia Grande', 'Lucia Sans Unique';
    text-align:  center;
    text-decoration: underline;
}

div{
    width: 400px;
    height: 300px;
    margin: 20px;
}

h1, h2, h3{
}
#main {
    background-color: #4B0082;
    padding: 20px;
    border: 3px;
}

#second {
    background-color: red;
    padding: 10px;
    border: 10px;
}
    